*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    text-align: center;
    width: 440px;   
}

h2{
    margin-top: 1.5rem;
}

.content{
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: aquamarine;
    /* width: 440pxpx; */
}

.planselector{
    margin-top: 1.5rem;
    background-color:salmon ;
}

p{
    margin-top: 1.5rem;
}

.planselector{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
}

.payment{
    background-color: sandybrown;
    margin-top: 1.5rem;
}

.cancel{
    margin-top: 1.5rem;
}